#####################################################
#
# List of approvers and maintainers
#
#####################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @harsimar @heyams @jeanbisutti @rajkumar-rangaraj @ramthi @trask
/agent/agent-profiler @harsimar @heyams @jeanbisutti @rajkumar-rangaraj @ramthi @trask @johnoliver
/agent/agent-gc-monitor @harsimar @heyams @jeanbisutti @rajkumar-rangaraj @ramthi @trask @johnoliver
