#####################################################
#
# List of approvers and maintainers
#
#####################################################
#
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners
#

* @harsimar @mattsains-msft @rajkumar-rangaraj @ramthi @trask @xiang17
/agent/agent-profiler @harsimar @mattsains-msft @johnoliver @rajkumar-rangaraj @ramthi @trask @xiang17
/agent/agent-gc-monitor @harsimar @mattsains-msft @johnoliver @rajkumar-rangaraj @ramthi @trask @xiang17
