version: 2
registries:
  gradle-plugin-portal:
    type: maven-repository
    url: https://plugins.gradle.org/m2
    username: "" # Required by dependabot
    password: "" # Required by dependabot
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"

  - package-ecosystem: "gradle"
    directory: "/dependencyManagement"
    ignore:
      - dependency-name: "org.slf4j:*"
        # moving to 2.0 is problematic because the SPI mechanism in 2.0 doesn't work in the
        # bootstrap class loader because, while we add the agent jar to the bootstrap class loader
        # via Instrumentation.appendToBootstrapClassLoaderSearch(), there's nothing similar for
        # resources (which is a known problem in the java agent world), and so the META-INF/services
        # resource is not found
        versions: [ "[2,)" ]
      - dependency-name: "ch.qos.logback:*"
        # logback version is pinned to slf4j version (see above comment for slf4j version)
        versions: [ "[1.3,)" ]
      - dependency-name: "com.squareup.moshi:*"
        # 1.12.0 and above use okio 2.x which pulls in kotlin libs (which are large)
        versions: [ "[1.12,)" ]
      - dependency-name: "io.opentelemetry.instrumentation:*"
        # OpenTelemetry version updates are handled manually after each upstream release
        versions: [ "(,)" ]
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10

  - package-ecosystem: "gradle"
    directory: "/"
    allow:
      - dependency-name: "com.gradle*"
    registries:
      - gradle-plugin-portal
    schedule:
      interval: "daily"
