<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="aiAppender" class="com.microsoft.applicationinsights.log4j.v1_2.ApplicationInsightsAppender" />
    <root>
        <priority value ="trace" />
        <appender-ref ref="aiAppender" />
    </root>
</log4j:configuration>