<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="test" class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>00000000-0000-0000-0000-0FEEDDADBEEF</instrumentationKey>
    </appender>

    <logger name="com.microsoft.applicationinsights.smoketestapp">
        <level value="trace" />
    </logger>

    <root>
        <appender-ref ref="test" />
    </root>
</configuration>
