name: Release
on:
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set environment variables
        run: |
          version=$(.github/scripts/get-version.sh)
          echo "VERSION=$version" >> $GITHUB_ENV

      - name: Generate release notes
        run: |
          # the complex perl regex is needed because markdown docs render newlines as soft wraps
          # while release notes render them as line breaks
          sed -n "0,/^## Version $VERSION /d;/^## Version /q;p" CHANGELOG.md \
            | perl -0pe 's/(?<!\n)\n *(?!\n)(?![-*] )(?![1-9]+\. )/ /g' \
            > /tmp/release-notes.txt

      - name: Download artifact from maven central
        run: |
          # the artifact can take time to show up on maven central so retry every minute for 3 hours
          curl --retry-delay 60 \
               --retry 180 \
               --retry-all-errors \
               --fail \
               -o applicationinsights-agent-$VERSION.jar \
               https://repo1.maven.org/maven2/com/microsoft/azure/applicationinsights-agent/$VERSION/applicationinsights-agent-$VERSION.jar

      - name: Create GitHub release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [[ $VERSION != *-BETA* ]]
          then
            GA=" (GA)"
          fi
          # TODO (trask) remove --draft after the first successful release using this script
          gh release create --target main \
                            --title "Version $VERSION$GA" \
                            --notes-file /tmp/release-notes.txt \
                            --draft \
                            $VERSION \
                            applicationinsights-agent-$VERSION.jar
