name: Reusable - Create version bump pull request

on:
  workflow_call:
    inputs:
      version:
        type: string
        required: true
  # to help with partial release build failures
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true

jobs:
  bump-version:
    runs-on: ubuntu-latest
    needs:
      - release
    steps:
      - uses: actions/checkout@v3

      - name: Set environment variables
        env:
          VERSION: ${{ inputs.version }}
        run: |
          if [[ $VERSION =~ ^([0-9]+\.[0-9]+)\.([0-9]+)$ ]]; then
            major_minor="${BASH_REMATCH[1]}"
            patch="${BASH_REMATCH[2]}"
          else
            echo "unexpected version: $VERSION"
            exit 1
          fi
          echo "NEXT_VERSION=$major_minor.$((patch + 1))" >> $GITHUB_ENV

      - name: Update version
        run: .github/scripts/update-version.sh $NEXT_VERSION

      - name: Create pull request against main
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          message="Update version to $NEXT_VERSION"
          body="Update version to \`$NEXT_VERSION\`."
          branch="automation/update-version-to-${NEXT_VERSION}"

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git checkout -b "$branch"
          git commit -a -m "$message"
          git push --set-upstream origin HEAD:$branch
          gh pr create --title "$message" \
                       --body "$body"
